<div class="vischek-fractal-content">
    <div class="fractal-control">
        <div class="Fractal-name">
            <h1>Vischek fractal</h1>
        </div>
        <div class="iteration-count">
            <label>
                Iteration count
            </label>
            <input type="number" value="3" id="iteration-number" >
        </div>
        <div class="draw-button-container">
            <button class="draw-button" id="draw-button" (click)="onDrawClick()">
                Draw
            </button>
        </div>
        <div class="save-button-container">
            <button class="save-button" (click)="onSaveClick()">
                Save
            </button>
        </div>
    </div>
    <div class="fractal-content">
        <div class="fractal-container">
            <canvas #fractalCanvas id="fractal-canvas">

            </canvas>
        </div>
    </div>
</div>