<header class="header">
    <div class="main-menu">
        <div class="menu-element"><a href="/home">Home</a></div>
        <div class="menu-element"><a href="/Vischek-fractal">Vicsek</a></div>
        <div class="menu-element"><a href="/Mandelbrot-set">Mandelbrot</a></div>
        <div class=menu-element><a href='/color-schemas'>Color schemas</a></div>
        <div class=menu-element><a href='/affine-transformation'>Rotating figures</a></div>
    </div>
    <div class="secondary-menu">
        <a href='#'>Learn more</a>
        <a href='#'>About us</a>
    </div>
</header>