<div class="vicsek-content">
    <div class="content">
        <div class="text">
            <h1>Viskovac (Vicsek) Fractal</h1>
            <p>
                The Viskovac fractal, also known as the Vicsek fractal, is a type of geometric fractal named after the
                Hungarian physicist Tamás Vicsek.
                It is a self-replicating pattern that arises from a simple iterative construction process.
            </p>
            <p>
                The Vicsek fractal is constructed by starting with a square and repeatedly replacing each square with a
                pattern of smaller squares.
                The iterative process is as follows:
            </p>
            <ol>
                <li>Begin with a square.</li>
                <li>Divide the square into 9 smaller squares (3x3 grid).</li>
                <li>Remove the central square, leaving 8 smaller squares arranged in a cross pattern.</li>
                <li>Repeat the process for each of the remaining 8 squares.</li>
            </ol>
            <p>
                The iterations create a pattern resembling a cross, and this pattern repeats at various scales, forming
                the Vicsek fractal.
                The self-similar structure of the fractal emerges from the repeated application of the same division and
                removal process.
            </p>
            <p>
                The Vicsek fractal exhibits interesting geometric properties, and its construction is relatively
                straightforward compared to some other fractals.
                While not as famous as fractals like the Mandelbrot set, the Vicsek fractal is an example of how simple
                rules can lead to the creation of intricate
                and visually appealing patterns in mathematics and geometry.
            </p>
        </div>
        <div class="video">
            <video  src="../../assets/Fractales_ Fractal de Vicsek.mp4" class="vicsek-video" controls poster="../../assets/images/vicsek_poster.jpg">
            </video>
        </div>
    </div>
</div>