*
    color: white

.mandelbrot-julia-content
    display: flex
    justify-content: row

.mandelbrot-set-content
    display: flex
    justify-content: center
    align-items: center
    margin-left: 0px  

.mandelbrot-set-container
.julia-set-container
    padding: 20px

.Fractal-name
    margin: 38px 0 0 0
    background-color: black
    color: white

.const    
    display: flex
    flex-direction: column
    align-items: left
    padding: 10px

.hex
    display: flex
    flex-direction: column
    align-items: left


.hex-buttons
    margin: 0 0 0 5%

.control-fields-buttons
    display: flex
    justify-content: row
    align-items: center

input
    background-color: black
    color: white
    border: 1px solid white
    padding: 6px
    font-size: 20px
    max-width: 80%

label
    color: white
    font-size: 25px

::-webkit-inner-spin-button
::-webkit-outer-spin-button
    color: black

.draw-button-container
    margin: 3% 0 0 0
    padding: 6px
    text-align: center
    background-color: black
    color: white
    max-width: 80%
    border: 1px solid white

.save-button-container
    margin: 3% 0 0 0
    padding: 6px
    text-align: center
    background-color: black
    color: white
    max-width: 80%
    border: 1px solid white

button
    background-color: black
    border: none
    color: white
    font-size: 20px
