<head>
    <title>Home page</title>
    <link rel="stylesheet" href="home-page.component.sass">
</head>
<header class="header">
    <div class="logo"></div>
    <nav class="navigation">
        <ul>
            <li><a href='#'>Fractals</a></li>
            <li><a href='#'>Color schemas</a></li>
            <li><a href='#'>Rotating figures</a></li>
            <li><a href='#'>Learn more</a></li>
            <li><a href='#'>About us</a></li>
        </ul>
    </nav>
</header>

<body>
    <section class="text-section">

    </section>
    <section class="buttons-section">
        
    </section>
</body>
  
<footer class="footer-bottom">
    <p>&copy; 2023</p>
</footer>